@import "fonts.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "blocks/page-header.scss";
@import "blocks/about-us.scss";
@import "blocks/contact.scss";
@import "blocks/copyright.scss";

@import "blocks/features.scss";
@import "blocks/form.scss";
@import "blocks/main-nav.scss";

@import "blocks/menu.scss";
@import "blocks/page-footer.scss";
@import "blocks/specials.scss";
@import "blocks/social.scss";
@import "blocks/receipt.scss";