$dark-grey: #3c3c3c;
$white: #ffffff;
$black: #000000;
$gold: #f9cc07;
$light-grey: #eff0f0;
$greyf8: #f8f8f8;
$light-green: #89c585;
$green : #227c00;
$primary-color: $dark-grey;

$regular-font-weight: 400;
$main-font-size: 16px;
$font-stack: 'Merriweather', 'Times New Roman', serif;
$main-line-height: 1.5;