.about-us {
  background-color: $light-grey;
  background-image: url("../img/about_us_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

.about-us__wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.about-us__title {
  @include title;
  width: 600px;
  text-align: center;
  margin-bottom: 100px;
  position: relative;

  &::after {
    @include decorate;
  }
}

.about-us__description {
  width: 620px;
  font-size: 25px;
  font-weight: 300;
  line-height: 54px;
  text-align: center;
}