.button {
  display: inline-block;
  width: 260px;
  vertical-align: middle;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
  }

  &:active {
    opacity: 0.9;
  }
}
