.button {
  display: inline-block;
  width: 260px;
  vertical-align: middle;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 20px;
  color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid $primary-color;
  cursor: pointer;

  &:hover {
    color: $white;
    background-color: $primary-color;
  }

  &:active {
    opacity: 0.9;
    color: $greyd3;
  }
}
