.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  padding-bottom: 75px;
  padding-top: 140px;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}



  .catalog__title {
    margin-top: -55px;
    padding-top: 95px;
    margin-bottom: 60px;
    position: relative;
    z-index: -1;
    background-color: #f1f1f1;
    border-image: url("../img/bg-zigzag-fill.svg") 50 repeat;
    border-bottom: 25px solid;
  }
}


