
.category {
  width: 100%;
  margin: 0 auto;
  display: flex;
  // flex-direction: column;
  background-color: pink;
}

.category__decor {
  padding-bottom: 30px;
  padding-top: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 41px;
    height: 63px;
    top: 23px;
    right: 35px;
    background: transparent url("../img/icon-interior.svg") no-repeat;
    opacity: 0.5;
  }
}

.category__decor:active .category__title {
  opacity: 0.5;
}

.category__toys:active .category__title {
  opacity: 0.5;
}

.category__decor:hover {
  &::after {
    opacity: 1;
  }
}

.category__toys:hover {
  &::after {
    opacity: 1;
  }
}

.category__decor:active {
  &::after {
    opacity: 0.3;
  }
}

.category__toys:active {
  &::after {
    opacity: 0.3;
  }
}

.category__toys {
  background-color: #56c3b2;
  padding-bottom: 30px;
  padding-top: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 23px;
    right: 30px;
    background: transparent url("../img/icon-toy.svg") no-repeat;
    opacity: 0.5;
  }
}
