.contact {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  @include title;
  width: 600px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;

  &::after {
    @include decorate;
  }
}

.contact__info {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.contact__adress-title,
.contact__communicate-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__adress,
.contact__communicate {
  width: 200px;
}

.contact__email,
.contact__phone,
.contact__text {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .contact  {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .contact__info {
    width: 100%;
    justify-content: space-around;
  }

  .contact__title {
    width: 100%;
    @include title-mobile;
  }
}

@media (max-width: 500px) {
  .contact__info {
    flex-direction: column;
    align-items: center;
  }

  .contact__adress-title,
  .contact__communicate-title {
  text-align: center;
}

  .contact__adress {
    margin-bottom: 30px;
  }
}