.contact {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  @include title;
  width: 600px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;

  &::after {
    @include decorate;
  }
}

.contact__info {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-bottom: 70px;
}
.contact__adress-title,
.contact__communicate-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.contact__adress,
.contact__communicate {
  width: 200px;
}
.contact__email,
.contact__phone,
.contact__text {
  margin: 0;
  font-size: 16px;
}
