.main-nav__list {
  width: 540px;
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 40px;
}

.main-nav__link {
  color: $dark-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;

  &:hover {
    outline: 1px solid $dark-grey;
    box-shadow: 0 5px 13px 1px #e5e5e5;
  }

  &:active {
    outline: 1px solid $green;
  }
}

@media (max-width: 650px) {
  .main-nav__list {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .main-nav__list {
    flex-direction: column;
    align-items: flex-end;
  }

  .main-nav__item {
    margin-bottom: 20px;
  }
}