.page-footer {
  height: 100vh;
  padding-top: 100px;
  background-color: $light-grey;
  background-image: url("../img/footer_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__down {
  width: 1200px;
  margin:0 auto;
  // width: 850px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

@media (max-width: 1199px) {

  .page-footer__down {
    width: 100%;
  }
}


@media (max-width: $tablet-width) {
  .page-footer__down {
    // width: 768px;
  }
}

@media (max-width: 650px) {
  .page-footer {
    // padding-top: 30px;
    height: 100%;
  }

  .page-footer__down {
    justify-content: center;
  }

}