.page-header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
}

.page-header {
  height: 100vh;
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-color: $light-grey;
}

.page-header__title {
  position: relative;
  text-align: center;
  width: 540px;
  @include title;
  // font-size: 40px;
  // font-weight: 300;
  // line-height: 50px;
  // margin-left: auto;
  margin-right: 40px;
  margin-top: calc(50vh - 100px);

  &::after {
    @include decorate;
  }
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    width: 700px;
    align-items: center;
  }
}