.page-footer {
  height: 100vh;
  padding-top: 100px;
  background-color: $light-grey;
  background-image: url("../img/footer_bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__down {
  width: 1200px;
  margin:0 auto;
  // width: 850px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: $tablet-width) {
  .page-footer__down {
    width: 768px;
  }
}