.specials {
  margin-bottom: 100px;
}


.specials__title {
  text-align: center;
  @include title;
  margin-top: 100px;
}

.specials__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 100px;
}

.specials__item {
  width: 400px;
  text-align: center;
}

.specials__description-wrapper {
  width: 200px;
}

.specials__name {
  font-size: 18px;
  font-weight: 700;
}

.specials__description {
  font-size: 16px;
  font-weight: 300;
}

.specials__price {
  font-size: 18px;
  font-weight: 700;
}