.specials {
  margin-bottom: 100px;
}

.specials__title {
  text-align: center;
  @include title;
  margin-top: 100px;
  position: relative;

  &::after {
    @include decorate;
  }
}

.specials__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  margin-top: 50px;
}

.specials__item {
  width: 400px;
  text-align: center;
  display: flex;
  position: relative;
}
.specials__item:hover .specials__info {
  opacity: 1;
}

.specials__description-wrapper {
  width: 200px;
  background-color: $greyf8;
}

.specials__name {
  font-size: 18px;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    margin: auto;
    width: 100px;
    height: 1px;
    left: 0; 
    right: 0;
    bottom: -8px;
    background-color: $black;
  }
}

.specials__description {
  font-size: 16px;
  font-weight: 300;
}

.specials__price {
  font-size: 18px;
  font-weight: 700;
}

.specials__info {
  width: 400px;
  position: absolute;
  height: 200px;
  background-color: #fff;
  top: 0;
  left: 0;
  opacity: 0;
  // text-align: center;
  // vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.7s;
  padding-top: 90px;
}

.specials__link {
  color: $dark-grey;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 18px;
  border: none;
  outline: 1px solid $dark-grey;
  margin: auto;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    outline: 1px solid $green;
  }
}

.specials__caption {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 460px) {
  .specials__info {
    width: 100%;
    height: 400px;
  }

  .specials__item {
    width: 200px;
    flex-direction: column;
  }

  .specials__title {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 30px;
    @include title-mobile;
  }

  .specials__description-wrapper {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .specials__list {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .specials__item {
    margin-bottom: 30px;
  }

  .specials__info {
    width: 100%;
  }
}
