.starters__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.starters__item {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom:30px;
}

.starters__name {
  text-transform: uppercase;
  font-size: 18px;
  // line-height: 50px;
  font-weight: 300;
  margin: 0;
  // flex-grow: 1;
      width: 470px;
}

.starters__ingredients {
  font-size: 14px;
  // line-height: 50px;
  margin: 0;
  font-style: italic;
  // flex-grow: 2;
}

.starters__price {
  margin: 0;
  // padding-left: 100px;
  // flex-grow: 1;
}